<launch>
  <arg name="namespace" default="ben"/>
  <include file="$(find ben_hardware)/launch/pano_yolo.launch"><arg name="camera_number" value="2"/><arg name="namespace" value="$(arg namespace)"/></include>
  <include file="$(find ben_hardware)/launch/pano_yolo.launch"><arg name="camera_number" value="4"/><arg name="namespace" value="$(arg namespace)"/></include>
  <include file="$(find ben_hardware)/launch/pano_yolo.launch"><arg name="camera_number" value="6"/><arg name="namespace" value="$(arg namespace)"/></include>
</launch>

