<launch>
    <arg name="namespace" default="ben"/>
    <arg name="jetsonStats" default="true"/>

    <include file="$(find ben_hardware)/launch/panos_even.launch" ns="$(arg namespace)/sensors/cameras">
        <arg name="namespace" value="$(arg namespace)"/>
    </include>

    <node if="$(arg jetsonStats)" pkg="ros_jetson_stats" type="jetson_stats.py" name="ros_jetson2_stats" ns="$(arg namespace)"/>
</launch>
