<launch>
    <arg name="namespace" default="ben"/>
    <arg name="jetsonStats" default="true"/>
    <arg name="yolo" default="true"/>

    <include file="$(find ben_hardware)/launch/odd_panos.launch">
        <arg name="namespace" value="$(arg namespace)"/>
    </include>

    <include if="$(arg yolo)" file="$(find ben_hardware)/launch/odd_panos_yolo.launch">
        <arg name="namespace" value="$(arg namespace)"/>
    </include>
    
    <include file="$(find ben_hardware)/launch/camera_color.launch">
        <arg name="namespace" value="$(arg namespace)"/>
    </include>

    <include file="$(find ben_hardware)/launch/camera_flir.launch">
        <arg name="namespace" value="$(arg namespace)"/>
    </include>

    <include file="$(find ben_hardware)/launch/camera_flir_engine.launch">
        <arg name="namespace" value="$(arg namespace)"/>
    </include>

    <node if="$(arg jetsonStats)" pkg="ros_jetson_stats" type="jetson_stats.py" name="ros_jetson_stats" ns="$(arg namespace)"/>
</launch>
