<launch>
  <arg name="namespace"/>
  <arg name="logDirectory"/>
  
  <node pkg="rosbag" type="record" name="base_logger"  ns="$(arg namespace)" args="-o $(arg logDirectory)/base --split --duration=1h
        /$(arg namespace)/control/helm
        /$(arg namespace)/piloting_mode/autonomous/active
        /$(arg namespace)/piloting_mode/autonomous/cmd_vel
        /$(arg namespace)/piloting_mode/autonomous/helm
        /$(arg namespace)/piloting_mode/manual/active
        /$(arg namespace)/piloting_mode/manual/cmd_vel
        /$(arg namespace)/piloting_mode/manual/helm
        /$(arg namespace)/piloting_mode/standby/active

        /$(arg namespace)/project11/heartbeat
        /$(arg namespace)/project11/piloting_mode
        /$(arg namespace)/project11/mission_manager/command
        /$(arg namespace)/project11/command
        /$(arg namespace)/project11/display
        /$(arg namespace)/project11/response
        
        /$(arg namespace)/hover_action/cancel
        /$(arg namespace)/hover_action/feedback
        /$(arg namespace)/hover_action/goal
        /$(arg namespace)/hover_action/parameter_descriptions
        /$(arg namespace)/hover_action/parameter_updates
        /$(arg namespace)/hover_action/result
        /$(arg namespace)/hover_action/status

        /$(arg namespace)/mbr/9442/2510/mean_margin
        /$(arg namespace)/mbr/9442/RX_bw_kbs
        /$(arg namespace)/mbr/9442/TX_bw_kbs

        /$(arg namespace)/odom
        /tf
        /tf_static
        /$(arg namespace)/sensors/posmv/orientation
        /$(arg namespace)/sensors/posmv/position
        /$(arg namespace)/sensors/posmv/time_reference
        /$(arg namespace)/sensors/posmv/velocity
        
        /$(arg namespace)/sensors/oem/orientation
        /$(arg namespace)/sensors/oem/position
        /$(arg namespace)/sensors/oem/velocity
        
        /$(arg namespace)/nav/active_sensor

        /diagnostics

        /sensor/ais/contact
        /link_status
        /sensor/vehicle/drive
        /sensor/vehicle/engine
        /sensor/vehicle/heading
        /sensor/vehicle/pose
        /sensor/vehicle/position
        /sensor/vehicle/timeref
        /vehicle_status
        /control/drive/direct
        /control/drive/heading_hold
        /control/drive/inhibit
        /control/drive/seek_position
        /control/drive/virtual
        /scm/vehicle/depth
        " />


  <node pkg="rosbag" type="record" name="radar_logger" ns="$(arg namespace)" args="-o $(arg logDirectory)/radar --split --duration=1h -j 
        /$(arg namespace)/sensors/radar/HaloA/data
        /$(arg namespace)/sensors/radar/HaloA/state
        /$(arg namespace)/sensors/radar/HaloA/change_state
        /$(arg namespace)/sensors/radar/HaloB/data
        /$(arg namespace)/sensors/radar/HaloB/state
        /$(arg namespace)/sensors/radar/HaloB/change_state
        /tf
        /tf_static
        "/>

</launch>
