<launch>
  <arg name="namespace"/>

  <node pkg="rosbag" type="record" name="cw4_logger" ns="$(arg namespace)" args="-o $(find project11)/logs/cw4 --split --duration=1h
        /sensor/ais/contact
        /link_status
        /sensor/vehicle/drive
        /sensor/vehicle/engine
        /sensor/vehicle/heading
        /sensor/vehicle/pose
        /sensor/vehicle/position
        /sensor/vehicle/timeref
        /vehicle_status
        /control/drive/direct
        /control/drive/heading_hold
        /control/drive/inhibit
        /control/drive/seek_position
        /control/drive/virtual
        /scm/vehicle/depth
        "/>
  
  <node pkg="rosbag" type="record" name="base_logger"  ns="$(arg namespace)" args="-o $(find project11)/logs/base --split --duration=1h
        control/helm
        piloting_mode/autonomous/active
        piloting_mode/autonomous/cmd_vel
        piloting_mode/autonomous/helm
        piloting_mode/manual/active
        piloting_mode/manual/cmd_vel
        piloting_mode/manual/helm
        piloting_mode/standby/active

        project11/heartbeat
        project11/piloting_mode
        project11/mission_manager/command
        project11/command
        project11/display
        project11/response
        
        hover_action/cancel
        hover_action/feedback
        hover_action/goal
        hover_action/parameter_descriptions
        hover_action/parameter_updates
        hover_action/result
        hover_action/status

        mbr/9442/2510/mean_margin
        mbr/9442/RX_bw_kbs
        mbr/9442/TX_bw_kbs

        odom
        /tf
        /tf_static
        sensors/posmv/orientation
        sensors/posmv/position
        sensors/posmv/time_reference
        sensors/posmv/velocity
        
        sensors/oem/orientation
        sensors/oem/position
        sensors/oem/velocity
        
        nav/active_sensor
        " />


  <node pkg="rosbag" type="record" name="radar_logger" ns="$(arg namespace)" args="-o $(find project11)/logs/radar --split --duration=1h -j 
        sensors/radar
        /tf
        "/>

</launch>
