<launch>
  <arg name="namespace" default="ben"/>
  <arg name="camera_number"/>

  <include file="$(find opencv_dnn)/launch/yolo3.launch">
    <arg name="namespace" value="$(arg namespace)/sensors/cameras/pano_$(arg camera_number)"/>
    <arg name="image" value="image_raw"/>
  </include>
  
  <node pkg="nodelet" type="nodelet" name="yolo_thumbnail" ns="$(arg namespace)/sensors/cameras/pano_$(arg camera_number)" args="standalone image_proc/resize image:=detection_image _scale_width:=0.5 _scale_height:=0.5"/>

</launch>