<launch>
  <arg name="namespace" default="ben"/>

  <group ns="$(arg namespace)/sensors/radar">
    <node pkg="halo_radar" type="halo_radar" name="halo_radar">
      <rosparam param="hostIPs">["192.168.10.112", "192.168.99.112" ]</rosparam>
      <param name="frameId" value="$(arg namespace)/radar"/>
    </node>
  </group>


</launch>
